.contact{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #00000024;
}
.contact__form{
    position: relative;
    width: 417px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 20px;
    background: var(--Grayscale-07);
}
.contact__form__cross{
    position: absolute;
    top: 16px;
    right: 16px;
    height: 20px;
}
.contact__form__inputBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}
.contact__form__inputBlock__line{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact__form__inputBlock__line__fieldName{
    color: var(--Grayscale-Black);
    font-family: "Outfit";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.contact__form__inputBlock__line__field{
    display: flex;
    height: 40px;
    padding: 10px 16px;
    align-items: center;
    border-radius: 14px;
    border: 1px solid var(--Grayscale-20);
    background: var(--Grayscale-07);
}
.contact__form__inputBlock__line__field__text{
    border: none;
    width: 100%;
    color: var(--Grayscale-Black);
    font-family: "Outfit";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
input::placeholder{
    color: var(--Grayscale-30);
}
.contact__form__inputBlock__line__field__text:focus{
    outline: none;
}
.contact__form__policy--black{
    color: var(--Grayscale-00);
    font-family: "Outfit";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
.contact__form__policy--purple{
    color: var(--Primary-01);
    font-family: "Outfit";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    text-decoration-line: underline;
}
.contact__button{
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
    border: none;
    background: var(--Primary-01);
    color: var(--Grayscale-07);
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.required::after{
    content: " *";
    color: var(--Additional-01);
    font-family: "Outfit";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.contact__form__inputBlock__line__error{
    display: none;
    color: var(--Additional-02);
    font-family: "Outfit";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.contact__form__error{
    display: none;
    color: var(--Additional-02);
    font-family: "Outfit";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.thanks{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #00000024;
}
.thanks__window{
    position: relative;
    width: 417px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    padding: 40px;
    border-radius: 20px;
    background: var(--Grayscale-07);
}
.thanks__window__dude{
    padding-top: 24px;
    padding-right: 34px;

}
.thanks__window__topText{
    align-self: stretch;
    color: var(--Primary-02);
    text-align: center;
    font-family: "Outfit";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.thanks__window__middleText{
    color: var(--Grayscale-02);
    text-align: center;
    font-family: "Outfit";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.thanks__window__cross{
    position: absolute;
    top: 16px;
    right: 16px;
}
.phoneField{
    display: flex;
    gap: 10px;
}

