.demonstration{
    position: relative;
    overflow: hidden;
}
.demonstration__phone{
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.demonstration__textBlock{
    height: 816px;
    display: flex;
    flex-direction: column;
    gap: 68px;
    justify-content: space-between;
}
.demonstration__textBlock__row1{
    position: absolute;
    top: 136px;
    right: 500px;
    display: flex;
    gap: 20px;
}
.demonstration__textBlock__row2{
    position: absolute;
    top: 340px;
    right: 500px;
    display: flex;
    gap: 20px;
}
.demonstration__textBlock__row3{
    position: absolute;
    top: 544px;
    right: 500px;
    display: flex;
    gap: 20px;
}
.demonstration__textBlock__text{
    display: inline-block;
    white-space: nowrap;
    font-feature-settings: 'liga' off;
    font-family: "Outfit";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
}
.demonstration__textBlock__text--green{
    color: var(--Secondary-01);
}
.demonstration__textBlock__text--purple{
    color: var(--Primary-02);
}
.demonstration__textBlock__text--orange{
    color: var(--Secondary-02);
}
.rightAnimation{
    animation: right 20s linear infinite;
}
.leftAnimation{
    animation: left 20s linear infinite;
}
@keyframes right{
    0% {
        transform: translateX(15%);
    }
    100% {
        transform: translateX(50%);
    }
}
@keyframes left{
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(15%);
    }
}