:root{
    --Grayscale-01: #181818;
    --Grayscale-07: #FFF;
    --Primary-01: #954CED;
    --Primary-02: #A64CED;
}

*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: var(--Grayscale-01);
}

button{
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
    border: none;
}