:root{
    --primary: #3498db;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider__container{
    position: relative;
    width: 560px;
    height: 150px;
    background: var(--primary);
}
.slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    position: absolute;
}
.slide:not(.active){
    top: 0;
    left: -100%;
}
button{
    border: none;
    cursor: pointer; 
}
.next{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 0.75;
    color: var(--primary);
}
.next:hover{
    opacity: 1;
}
.prev{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 0.75;
    color: var(--primary);
}
.prev:hover{
    opacity: 1;
}
h3{
    color: var(--primary);
    font-size: 36px;
    line-height: 100px;
    text-align: center;
}
.dots__container{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dot{
    width: 20px;
    height: 20px;
    font-size: 25px;
    background: transparent;
}
.dot::before{
    content: '•';
    color: black;
    opacity: 0.25;
}
.dot:hover::before{
    opacity: 0.75;
}
@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -105%;
    }
}
@keyframes next2{
    from{
        left: 105%;
    }
    to{
        left: 0%;
    }
}
@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 105%;
    }
}
@keyframes prev2{
    from{
        left: -105%;
    }
    to{
        left: 0%;
    }
}